@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Chakra Petch', sans-serif;
  }
}

@layer components {
  .sidebar{
    @apply fixed top-0 left-0 h-screen w-16 p-2 gap-y-2 m-0 flex flex-col bg-secondary 
    text-white shadow-lg transition-colors duration-200 ease-linear

  }
  .sidebar-icon{
    @apply relative flex items-center justify-center 
    h-12 w-12 bg-neutral-700 shadow-lg 
    text-highlight1-1 hover:bg-highlight1-1 hover:text-primary rounded-3xl hover:rounded-xl
    transition-all duration-100 ease-linear;

  }
  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md text-white bg-secondary text-xs font-bold opacity-0 transition-all duration-200
  }
  .reader-option-container-grid{
    @apply w-full bg-zinc-700 rounded-xl grid grid-cols-2 place-items-center
  }
  .reader-option-container-grid-split{
    @apply grid grid-cols-2 place-items-center gap-2
  }
  .reader-option-container{
    @apply w-full bg-zinc-700 rounded-xl flex items-center justify-center
  }

  .reader-option-icon{
    @apply relative flex items-center justify-center h-16 w-16 mt-2 mb-2 bg-primary shadow-lg text-highlight1-1 hover:bg-highlight1-1 hover:text-primary rounded-xl transition-all duration-100 ease-linear
  }
  .reader-option-icon-small{
    @apply relative flex items-center justify-center w-full h-full text-highlight1-1 hover:bg-highlight1-1 hover:text-primary rounded-xl transition-all duration-100 ease-linear
  }
  .loading-icon{
    @apply border-solid border-2 h-4 w-4 border-highlight1-1  animate-spin
  }
  .reader-default{
    @apply bg-secondary
  }
  .reader-vertical{
    @apply max-h-screen w-auto 
  }
  .reader-horizontal{
    @apply w-screen overflow-hidden relative flex-grow 
  }
  .reader-natural{
    @apply min-w-fit 
  }
  .project-entry{
    @apply hover:tracking-wide transition-all ease-in-out duration-500  hover:text-highlight1-1
  }
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  border-radius: 1rem;
  background: rgb(242 239 138);

}

.reader-history::-webkit-scrollbar{
  display:none;
}
.reader-history{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.reader-container{
  width: 100vw;
  max-width: 100%;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(43 43 43);
}

::-webkit-scrollbar-track {
  border-radius: 0.1rem;
  background: rgb(28 28 28);
}

::-webkit-scrollbar-thumb {
  background: rgb(43 43 43);
  border-radius: 0.1rem;
  border: 2px solid rgb(43 43 43);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(43 43 43);
}


.page-selector {
  -webkit-appearance: none;
  background-color: transparent;
  transform: rotate(90deg);
  height: 100%;
  width: 100vh;
}

.reader-page-selector-text{
  text-align: center;
  
  font-size: .75rem;
  line-height: 100%;
}

.hide-tap{
  -webkit-tap-highlight-color: transparent;
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 1px solid #000;
}

.box:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  border-top: 3px solid blue;
  border-right: 3px solid blue;
}
.box-span:before {
  display: block;
  content: "";
  width: 10rem;
  height: 10rem;
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-bottom: 3px solid orange;
  border-left: 3px solid orange;
}

.spacer {
  min-width: 80px;
  max-width: 120px;
}

.main-content{
  min-height: 10rem;
}

.main-list{
  list-style-type: square;
}


.snake-game{
  width: 100vmin;
  height: 100vmin;
  max-width: 768px;
  max-height: 768px;
  display: grid;
  background-color: rgb(255, 227, 142);
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  overflow: hidden;
}

.snake-game-overlay{
  width: 100vmin;
  height: 100vmin;
  max-width: 768px;
  max-height: 768px;
  overflow: hidden;
  font-size: xx-large;
  text-shadow: 2px 2px #565656;
}

.snake {
  box-shadow: 5px 5px #565656;
  
}

.snaketop{
  position: relative;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #000;
}

.snakehead{
  position: relative;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #000;
}

.hard-shadow-sm{
  filter:drop-shadow(2px 2px #565656);
}

.hard-shadow-md{
  filter:drop-shadow(3px 3px #565656);
}

.hard-shadow-lg{
  filter:drop-shadow(5px 5px #565656);
}

.food {
  background-color: rgb(255, 94, 94);
  border-radius: 100%;
  border: black;
  border-style: solid;
  border-width: 2px;
  box-shadow: 3px 3px #565656;
  animation-name: foodanim;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes foodanim {
  0% {transform: scale(1);}
  50% {transform: scale(.9);}
  100% {transform: scale(1);}
}












